{% extends 'base.html'%}
<!-- ============== -->
{% load static %}
<!-- ================== -->
{% block title %} Add Blogs {% endblock title%}

<!-- ================== -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Add Blog</h4>
              <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title"> Blog title </label>
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    placeholder="Enter title"
                  />
                  <p class="text-danger py-1">{{form.title.errors}}</p>
                </div>
                <div class="form-group">
                  <label for="category"> Blog title </label>

                  <select name="category" id="category_id" class="form-control">
                    {% for Category in Categories %}
                    <option value="{{category.id}}">{{Category.title}}</option>
                    {% endfor %}
                    <p class="text-danger py-1">{{form.category.errors}}</p>
                  </select>
                </div>
                <div class="form-group">
                  <label for="title"> Description </label>
                  <textarea name="description" id="" class="form-control">
                  </textarea>
                  <p class="text-danger py-1">{{form.description.errors}}</p>
                </div>
                <div class="form-group">
                  <label for="title"> Blog banner </label>
                  <input
                    type="file"
                    class="form-control"
                    name="banner"
                    placeholder="Enter title"
                  />
                  <p class="text-danger py-1">{{form.banner.errors}}</p>
                </div>
                <div class="form-group">
                  <label for="title"> Description </label>
                  <textarea name="tags" id="" class="form-control"> </textarea>
                  <p class="text-danger py-1">{{form.tags.errors}}</p>
                </div>
                <br />
                <div class="form-group my-2">
                  <button class="btn btn-success btn-block" type="submit">
                    <li class="fa fa-check"></li>
                    Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>

  <!-- end main content-->

  {% endblock content %}
</div>
