{% extends 'base.html'%}


 {% block title%} Mesikel {% endblock title%}
{% load static %}
{% block content %}




<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mesikel</h4>

                <div>
                  <img
                    src="{% static '/images/users/avatar.jpg' %}"
                    class="img-fluid"
                    alt="Responsive image"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mesikel</h4>
                <div>
                  <img
                    src="{% static '/images/users/avatar.jpg' %}"
                    class="img-fluid"
                    alt="Responsive image"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mesikel</h4>
                <div>
                  <img
                    src="{% static '/images/users/avatar.jpg' %}"
                    class="img-fluid"
                    alt="Responsive image"
                  />
                </div>
              </div>
            </div>
          </div>

      </div>
      <!-- end row -->
    </div>
  </div>
  <!-- End Page-content -->
</div>
<!-- end main content-->


{% endblock content %}
